
<!DOCTYPE html>
<html>
<head>
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<script>
        function gotoPython(){
		$.ajax({
			type: "POST",
			url: "/run_py",   
			data: {csrfmiddlewaretoken: '{{ csrf_token }}',
				text: "this is my test view"},   /* Passing the text data */
			success:  function(response){
				alert(response);
			}
    		});
        }
    </script>
</head>
<body>
	<input type="button" id='script' name="scriptbutton" value=" Run Script " onclick="gotoPython()">
</body>
</html>
